/*fix all colours and shadows last, also double-check the fonts */
*/ {
	box-sizing: border-box;
}

@font-face {
	font-family: Inter;
	src: Inter.ttf;
}

body {
	margin: 0;
	font-family: Inter, sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#logo {
	width: 100px;
	justify-content: flex-start;
}

/*---------------navigation--------------------
ADD HOVER, light grey besides the button there it should be lighter black, arrows, fix drop down menu
Hide menu for mobile view, add hamburger menu. Burger menu should have light grey hover
Mindre än / equal 600px width */

nav {
	max-width: 98%;
	padding: 0;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: 0;
	z-index: 100;
	background-color: white;
	border-bottom: 2px solid #e5e5e5;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav a {
	text-decoration: none;
	color: #050505;
	padding: 10px;
	transition: background-color 0.3 ease;
}

/* not last-child either */

nav li:not(first-child) a:hover {
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 10px;
}

.leftnav {
	display: flex;
	justify-content: flex-start;
	gap: 20px;
}

.rightnav {
	display: flex;
}

.rightnav li {
	border-right: 1px solid #f4f4f4;
	padding-right: 15px;
}

.rightnav li:last-child {
	border-right: none;
}

.dropdown {
	display: none;
}

/*---------------navigation--------------------*/

/*--------------section 1-------------------
Phone view: picture above text*/

.container {
	max-width: 1000px;
	margin: 120px auto 0 auto;
	display: flex;
	align-items: center;
}

#leftside {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 70%;
}

#leftside h1 {
	margin-bottom: -5px;
	font-size: 45px;
	color: #121212;
	line-height: 1.2;
}

#leftside p {
	font-size: 18px;
	font-weight: 320;
	color: #666666;
	line-height: 1.5;
}

#leftside a {
	text-decoration: none;
	color: white;
	font-weight: 450;
	font-size: 16px;
}

#rightside {
	display: flex;
	justify-content: flex-end;
}

#rightside img {
	width: 80%;
	height: auto;
}

/*inserted a button class - double-check if it looks good once the project is done */
.button {
	width: 120px;
	padding: 5px;
	background-color: #050505;
	box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.1);
	color: white;
	border-radius: 5px;
	text-align: center;
	margin: 0px;
}

/*---------------section 1--------------------*/

/*----companies 
Phone: flow to new lines when minimising website view----- */

.mainbox {
	width: 1000px;
}

.row1 {
	display: flex;
	justify-content: center;
	margin-top: 100px;
	gap: 15px;
	height: 25px;
	padding-top: 40px;
	border-top: 2px solid  #f4f4f4;
}

.row2 {
	display: flex;
	justify-content: center;
	margin-top: 25px;
	gap: 15px;
	height: 20px;
	padding-bottom: 40px;
	border-bottom: 2px solid  #f4f4f4;
}

/*----companies ----- */

/*----Second Text+Image of Section 1 
Images and text centered in mobile view, with margin on the sides------*/

.container2 {
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.box1 {
	text-align: justify;
	align-self: flex-start;
	margin-top: 50px;
	width: 40%;
}

.box1 h1 {
	font-size: 36px;
	font-weight: 550;
}

.box1 p {
	font-size: 14px;
	font-weight: 400;
	color: #7f7f7f;
	line-height: 1.2;
	margin-top: -10px;
}

.box2 img {
	width: 100%;
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 30px;
	box-shadow: 0px 3px 65px 4px rgba(0, 0, 0, 0.1);
}

/*----Second Text+Image of Section 1 ------*/

/*------Quotes

Smaller for mobile phone -------*/
.parenttext {
	display: flex;
	align-items: center;
}

.quote h1 {
	font-weight: 450;
	text-align: center;
	color: #999999;
	font-size: 36px;
	line-height: 1.2;
}

.face {
	display: flex;
	width: 60px;
	flex-direction: column;
}

.name {
	display: flex;
	flex-direction: column;
	margin-left: 15px;
}

.name b {
	font-weight: 400;
}

.name p {
	margin-top: -15px;
	font-size: 15px;
	font-weight: 320;
	color: #999999;
}

/*------Quotes-------*/

/*----section 2 ------*/

#section2 {
	width: 1000px;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	padding-top: 100px;
	border-top: 2px solid #e5e5e5;
}

#section2 h1 {
	font-size: 36px;
	font-weight: 550;
	margin-bottom: -10px;
	color: #121212;
}

#centertext {
	max-width: 650px;
	line-height: 1.2;
	text-align: center;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 20px;
	color: #999999;
}

#section2 a {
	text-decoration: none;
	color: white;
}

/* ---- Grey Box ---- */
#greybox {
	padding: 20px 0px;
	color: #666666;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	width: 700px;
	align-items: center;
	border-radius: 5px;
	margin-top: 50px;
	margin-bottom: 80px;
}

#line1 {
	display: flex;
	flex-direction: row;
	font-weight: 320;
	justify-content: space-between;
	border-bottom: 2px solid #e5e5e5;
	width: 90%;
}

.feature:last-child {
	border-bottom: none;
}

#line1 b {
	font-weight: 400;
}

.feature {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-bottom: 2px solid #e5e5e5;
	width: 90%;
	font-weight: 320;
}

.icon1 {
	display: flex;
	align-self: center;
	height: 15px;
	margin-right: 15px;
}


/* ---- Grey Box ---- */


/* ---- Section 3 -- 3 columns
Phone: 1 column and 3 rows --- */

#header {
	padding-top: 60px;
	width: 1000px;
	border-top: 2px solid #e5e5e5;;
	text-align: center;
	padding-bottom: 30px;
}

#header h1 {
	font-size: 36px;
	font-weight: 550;
}

#header p {
	font-size: 18px;
	color: #7f7f7f;
	margin-top: -15px;
	font-weight: 400;
}

#column {
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	text-align: center;
}

#column h2 {
	font-size: 24px;
	font-weight: 450;
	color: #121212;
}

#column p {
	font-size: 18px;
	font-weight: 320;
	color: #7f7f7f;
}

/*HOVER a BLUE!!! */

#column a {
	color: #353535;
	font-size: 15px;
}

#column div {
	border-right: 2px solid #e5e5e5;
	padding-right: 20px;
	padding-left: 25px;
}

#column div:last-child {
	border-right: none;
}

/* ---- Section 3 ----- */

/* ---- Section 4 Last Section before the footer 
1 column, text to the left and image centered-- */

#header2 {
	width: 1000px;
	text-align: center;
	padding-top: 80px;
}

#header2 h1 {
	font-size: 36px;
	font-weight: 550;
	margin-bottom: 50px;
	color: #121212;
}

#lastsection {
	display: flex;
	flex-direction: row;
	width: 1000px;
	text-align: left;
}

#text2 {
	display: flex;
	flex-direction: column;
	padding-right: 50px;
}

#text2 h2 {
	font-size: 24px;
	font-weight: 550;
	color: #121212;
}

#text2 p {
	font-size: 18px;
	margin-top: -10px;
	color: #7f7f7f;
	line-height: 1.5;
}

#text2 a {
	color: #7f7f7f;
}

#lastsection img {
	display: flex;
	flex-direction: row;
	width: 450px;
}


/* ---- Section 4 Last Section before the footer 
Phone: 1 column instead of 4 (4 rows)-- */

#columnoffour {
	width: 1000px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	text-align: center;
	margin-top: 40px;
}

#columnoffour div {
	border-right: 2px solid #f4f4f4;
}

#columnoffour div:last-child {
	border-right: none;
}

#columnoffour h1 {
	font-size: 46px;
	color: #666666;
}

#columnoffour p {
	margin-top: -20px;
	color: #999999;
}


/* ---- Section 4 Last Section before the footer -- */

#finalsection {
	display: flex;
	flex-direction: column;
	width: 1000px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 60px;
}

#finalsection h1 {
	margin-bottom: -5px;
	color: #050505;
	font-size: 36px;
	font-weight: 550;
}

#finalsection p {
	color: #999999;
}

#finalsection a {
	display: flex;
	text-decoration: none;
	align-self: center;
	justify-content: center;
}

/* ---- Section 4 Last Section before the footer -- */


/* -------------------footer--------------- 
Phone: section1 is on top, less space between social media links and text*/

footer {
	width: 99%;
	border-top: 2px solid #f4f4f4;
	padding-top: 50px;
}

#footerbox {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
}

#firstsection {
	display: flex;
	flex-direction: column;
	width: 140px;
	margin-top: 30px;
	margin-bottom: 60px;
}

#socialmedia {
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	gap: 10px;
}

#socialmedia a {
	width: 20px;
}

#lasttext {
	display: flex;
	flex-direction: column;
	width: 250px;
	margin-top: 40px;
	color: #666666;
	font-size: 12px;
	font-weight: 400;
}

/* Phone: 2 columns */

#columnlist {
	display: flex;
	flex-direction: row;
	gap: 90px;
	width: 950px;
}

#columnlist b {
	font-weight: 450;
	color: #353535;
}

#columnlist a {
	text-decoration: none;
	color: #7f7f7f;
}

/* ADD HOVER text-decoration */

#columnlist li {
	list-style: none;
	padding-top: 10px;
}

/* -------------------footer--------------- */